<footer class="container-fluid dk">
  <div class="row">
<h5 class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 text-center">Copyright YelpCamp 2015 - <% var d = new Date(); %> <%= d.getFullYear(); %> </h5>
  </div>
</footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
