<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
<body>
  <% include ./partials/nav %>

  <div class="wrapper">
    <div class="flex-container">
      <div class="row concept">
        <div class="flex-item">
          <h1>Welcome to YelpCamp</h1>
          <div>
            <button class="btn btn-default btn-lg btn-home dk">View Campgrounds</button>
            <button class="btn btn-default btn-lg btn-home lt">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
</body>
</html>
