<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
<body>
  <% include ./partials/nav %>

  <div class="row home full-screen">
    <div class="container home">
      <p class="col-md-8 col-xs-12 text-center">
        <h1 class="hero home">Welcome to YelpCamp</h1>
      </p>
      <p class="col-md-8 col-xs-12 center flex">
        <% if (currentUser) { %>
          <a href="/campgrounds"><button class="btn btn-default btn-lg btn-home dk">View Campgrounds</button></a>
        <% } else { %>
          <a href="/register"><button class="btn btn-default btn-lg btn-home lt">Get Started</button></a>
          <a href="/campgrounds"><button class="btn btn-default btn-lg btn-home dk">View Campgrounds</button></a>
        <% } %>
      </p>
    </div>
  </div>

<div class="container">
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="navbar-fixed-bottom">
  <% include ./partials/footer %>
</div>
</body>
</html>
