.jumbotron.padTop.new {
    background-image: url(".././img/newCampgroundPana.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
}

.jumbotron.padTop.new > h1 {
  color: black;
  text-shadow: 2px 2px #3e3e3e;
}

.jumbotron.padTop.new > p {
  color: white;
}

h1.new {
  color: #132E4E;
  padding-bottom: 30px;
}
